### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
player_count = pd.DataFrame({"Total Players":[len(list(purchase_data["SN"].unique()))]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
num_item = len(list(purchase_data["Item Name"].unique()))
num_purchases = sum(purchase_data["Item Name"].value_counts())
avg_price = purchase_data["Price"].mean()
total_revenue = sum(purchase_data["Price"])
purchase_analysis_df = pd.DataFrame({'Number of Unique Items': [num_item],
                                    'Average Price': [avg_price],
                                    'Number of Purchases':[num_purchases],
                                    'Total Revenue': [total_revenue]
})
purchase_analysis_df.style.format({'Average Price':"${:,.2f}", 'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
total_players = len(purchase_data["SN"].value_counts())
gender_purchase_df = purchase_data.groupby("Gender")
total_count_gender = gender_purchase_df.nunique()["SN"]
per_gender = total_count_gender/(total_players) *100

# 
gender_demographics = pd.DataFrame({'Total Count': total_count_gender,
                                    'Percentage of Players': per_gender

})
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
purchase_count = purchase_data["Gender"].value_counts()
gen_avg_price = gender_purchase_df["Price"].mean()
gen_total_purchase = gender_purchase_df["Price"].sum()
gen_avg_purchase_per_person = gen_total_purchase/total_count_gender

gen_purchase_analysis_df = pd.DataFrame({'Purchase Count': purchase_count,
                                        'Average Purchase Price': gen_avg_price,
                                        'Total Purchase':gen_total_purchase,
                                        'Avg Total Purchase per Person': gen_avg_purchase_per_person

})
gen_purchase_analysis_df.style.format({"Average Purchase Price": "${:.2f}", 
                                     "Total Purchase": "${:.2f}",
                                     "Avg Total Purchase per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
bins_age = [ 0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
lables_age = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins_age, labels=lables_age)
age_demographics = purchase_data.groupby("Age Range")
total_count_age = age_demographics["SN"].nunique()
per_player  = total_count_age/total_players *100
age_demographics_df = pd.DataFrame({'Total Count': total_count_age,
                                    'Percentage of Players':per_player

})
age_demographics_df.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
age_purchase_count = age_demographics["Purchase ID"].count()
age_avg_purchase_price = round(age_demographics["Price"].mean(),2)
age_total_purchase_price = age_demographics["Price"].sum()
age_avg_total_purchase_per_person = age_total_purchase_price/total_count_age

age_purchase_analysis = pd.DataFrame({'Purchase Count':age_purchase_count,
                                    'Average Purchase Price': age_avg_purchase_price,
                                    'Total Purchase Price': age_total_purchase_price,
                                    'Total Purchase Price': age_total_purchase_price
    
})
age_purchase_analysis.style.format({"Average Purchase Price":"${:.2f}",
                               "Total Purchase Price":"${:.2f}",
                               "Total Purchase Price":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
top_spender_df = purchase_data.groupby('SN')
purchase_count2 = purchase_data['SN'].value_counts()
spender_avg_purchase_price = top_spender_df['Price'].mean()
spender_total_purchase = top_spender_df['Price'].sum()
top_spender_analysis = pd.DataFrame({ 'Purchase Count': purchase_count2,
                                    'Average Purchase Price': spender_avg_purchase_price,
                                    'Total Purchase Value': spender_total_purchase

})
top_spender_analysis.sort_values(["Purchase Count", "Average Purchase Price", "Total Purchase Value"], ascending=False).head(5).style.format({"Average Purchase Price":"${:.2f}",
                                                                                            "Total Purchase Value": "${:.2f}"
})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
popular_items = purchase_data.groupby(['Item ID', 'Item Name'])
pop_purchase_count = popular_items['Item ID'].count()
pop_items_price = round(popular_items['Price'].mean(),2)
pop_total_purchase = popular_items['Price'].sum()
popular_items_analysis = pd.DataFrame({'Purchase Count': pop_purchase_count,
                                        'Item Price': pop_items_price,
                                        'Total Purchase Value': pop_total_purchase

})
popular_items_analysis.sort_values(["Purchase Count"], ascending=False).head(5).style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
popular_items_analysis.sort_values(["Total Purchase Value", "Purchase Count","Item Price"], ascending=False).head(5).style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})